/*
 *topobar
 */

.ag-graph-bar {
  position: relative;
}

.ag-graph-bar .wrapper {
  width: 555px;
  height: 40px;
  background: #fff;
  box-shadow: 0 0 18px rgba(40, 40, 40, .14);
  border-radius: 6px;
  clear: both;
}

.ag-graph-bar .wrapper li {
  float: left;
  height: 100%;
  padding: 6px 0;
}

.ag-graph-bar .wrapper li:first-child {
  padding-left: 12px;
  transition: all .2s ease;
}

.ag-graph-bar .wrapper li:first-child > div {
  padding-right: 12px;
}

.ag-graph-bar .wrapper li > div {
  height: 28px;
  line-height: 28px;
  padding: 0 8px;
}

.ag-graph-bar .wrapper li:not(:last-child) > div {
  border-right: 1px solid #ededed;
}

.ag-graph-bar .wrapper li > div span.item {
  position: relative;
  float: left;
}

.ag-graph-bar .wrapper li > div span.item:not(:last-child) {
  padding-right: 8px;
}

.ag-graph-bar .wrapper li > div a {
  position: relative;
  display: inline-block;
  color: #9e9e9e;
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  border-radius: 6px;
}

.ag-graph-bar .wrapper li > div a:hover {
  background: #50aff2;
  color: #fff;
}

/* 含下三角的图标 */
.ag-graph-bar .wrapper li > div a.arrow:after {
  content: '';
  position: absolute;
  right: 4px;
  bottom: 3px;
  width: 0;
  height: 0;
  border-bottom: 4px solid #9e9e9e;
  border-left: 4px solid transparent;
}

/* 下拉菜单 */
.ag-graph-bar span.item .dropmenu {
  position: absolute;
  top: 34px;
  left: 0;
  background: #fff;
  box-shadow: 0 0 18px rgba(40, 40, 40, .14);
  border-radius: 6px;
  z-index: 999;
  transition: all .3s ease;
  -webkit-transform: translate(0, 10px);
  transform: translate(0, 10px);
  opacity: 0;
  visibility: hidden;
}

/* 悬停显示 */
.ag-graph-bar span.item:hover a.arrow {
  color: #fff;
  background: #50aff2;
}

.ag-graph-bar .wrapper li > div a.arrow:hover:after,
.ag-graph-bar span.item:hover a.arrow:after {
  border-bottom: 4px solid #fff;
}

.ag-graph-bar span.item:hover .dropmenu {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
  visibility: visible;
}

.ag-graph-bar span.item .dropmenu h4 {
  font-size: 12px;
  color: #fff;
  text-align: left;
  height: 24px;
  line-height: 24px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background: #50aff2;
  padding-left: 10px;
}

.ag-graph-bar span.item .dropmenu .inner h6 {
  font-size: 12px;
  color: #9e9e9e;
  text-align: left;
  height: 18px;
  line-height: 18px;
  background: #f6f6f6;
  padding-left: 8px;
}

.ag-graph-bar span.item .dropmenu .cont {
  height: 326px;
  padding: 10px;
  overflow-y: auto;
}

.ag-graph-bar span.item .dropmenu .inner {
  width: 164px;
}

.ag-graph-bar span.item .dropmenu .inner .row {
  padding-bottom: 10px;
}

.ag-graph-bar span.item .dropmenu .inner .row:last-child {
  padding-bottom: 0;
}

.ag-graph-bar span.item .dropmenu div.item {
  height: 48px;
  margin-top: 10px;
}

.ag-graph-bar span.item .dropmenu div.item a:nth-child(2) {
  margin: 0 10px;
}

.ag-graph-bar span.item .dropmenu a {
  float: left;
  width: 48px;
  height: 48px;
  text-align: center;
  border: 1px solid #ededed;
  border-radius: 5px;
  padding-top: 5px;
}

.ag-graph-bar span.item .dropmenu a:hover {
  color: #fff;
  border: 1px solid #50aff2;;
}

.ag-graph-bar span.item .dropmenu em {
  display: inline-block;
  font-style: normal;
  font-size: 12px;
  -webkit-transform: translate(0, -5px);
  transform: translate(0, -5px);
}

/* 下拉菜单 公共样式 图标 */
.ag-graph-bar span.item .dropmenu div.item a .item-pic {
  width: 100%;
  height: 20px;
  background-size: contain !important;
}

/* 关闭编辑模式 部分工具禁用状态 */
.ag-graph-bar .wrapper li > div a.disabled {
  color: #d0d0d0 !important;
}

.ag-graph-bar .wrapper li > div a.disabled:hover {
  background: none;
}

.ag-graph-bar .wrapper li > div a.disabled:after,
.ag-graph-bar .wrapper li > div a.disabled:hover:after {
  border-bottom: 4px solid #d0d0d0;
}

.ag-graph-bar .wrapper li > div input {
  display: block;
  width: 40px;
  height: 20px;
  color: #9e9e9e;
  text-align: center;
  border: 1px solid #d0d0d0;
  border-radius: 2px;
  margin-top: 4px;
}

.ag-graph-bar .wrapper li > div input[type=checkbox] {
  display: none;
}

.ag-graph-bar .wrapper li > div i {
  display: inline-block;
}

/* 图标特殊处理 */
.icon-fangda1, .icon-suoxiao1 {
  -webkit-transform: scale(1.25) translate(-1px, -0.3px);
  transform: scale(1.25) translate(-1px, -0.3px);
}

.icon-Topology {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.icon-pc {
  -webkit-transform: scale(.9) translate(0.2px, 0);
  transform: scale(.9) translate(0.2px, 0);
}

.icon-shanchujiedian {
  -webkit-transform: scale(1.9) translate(0.1px, 0);
  transform: scale(1.9) translate(0.1px, 0);
}

.icon-tianjiaxian1, .icon-shanchuxian1 {
  -webkit-transform: scale(.8);
  transform: scale(.8);
}

/* 展开收缩按钮 */
.ag-graph-bar .unfold-shrink {
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 100%;
  text-align: center;
  background: #50aff2;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  transition: all .2s ease;
}

.ag-graph-bar .unfold-shrink i {
  display: inline-block;
  line-height: 40px;
  font-size: 12px;
  color: #fff;
  transition: all .2s ease;
  opacity: 0;
}

.ag-graph-bar:hover .unfold-shrink {
  width: 16px;
}

.ag-graph-bar:hover .unfold-shrink i {
  -webkit-animation: waver 1.2s infinite ease;
  animation: waver 1.2s infinite ease;
}

/* 悬停箭头闪烁动画 */
@-webkit-keyframes waver {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@keyframes waver {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

/* 收起效果 */
.pack-up .wrapper {
  width: 38px;
  transition: all .2s ease;
}

.pack-up .wrapper li {
  display: none;
}

.pack-up .unfold-shrink {
  width: 16px;
}

.pack-up .unfold-shrink i {
  opacity: 1;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-animation: waver 1.2s infinite ease;
  animation: waver 1.2s infinite ease;
}

/*
 * switch开关
 */

.ag-graph-bar .switch {
  width: 55px;
}

.ag-graph-bar .ag-switch {
  display: none;
}
.ag-graph-bar .ag-switch-label {
  position: relative;
  cursor: pointer;
}

.ag-graph-bar .ag-switch-label:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 1px;
  width: 14px;
  height: 14px;
  z-index: 1;
  border-radius: 8px;
  transition: all .3s ease;
}
.ag-graph-bar .ag-switch-label:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 40px;
  height: 16px;
  box-sizing: border-box;
  transform: translate(0,-50%);
  border-radius: 10px;
}

/* 未选中 */
.ag-graph-bar input.ag-switch[type=checkbox]:not(:checked) + label.ag-switch-label:before {
  background-color: #fff;
}
.ag-graph-bar input.ag-switch[type=checkbox]:not(:checked) + label.ag-switch-label:after {
  background-color: #D8D8D8;
}

/* 选中 */
.ag-graph-bar input.ag-switch[type=checkbox]:checked + label.ag-switch-label::before {
  left: 24px;
  background-color: #fff;
}
.ag-graph-bar input.ag-switch[type=checkbox]:checked + label.ag-switch-label:after {
  background-color: #30A8FF;
}

/* 禁用 */
.ag-graph-bar input.ag-switch[type=checkbox]:disabled + label.ag-switch-label {
  cursor: not-allowed;
}

/* 禁用未选中 */
.ag-graph-bar input.ag-switch[type=checkbox]:disabled:not(:checked) + label.ag-switch-label:before {
  background-color: #fff;
}
.ag-graph-bar input.ag-switch[type=checkbox]:disabled:not(:checked) + label.ag-switch-label:after {
  background-color: #eeeeee;
}

/* 禁用选中 */
.ag-graph-bar input.ag-switch[type=checkbox]:disabled:checked + label.ag-switch-label:before {
  background-color: #fff;
}
.ag-graph-bar input.ag-switch[type=checkbox]:disabled:checked + label.ag-switch-label:after {
  background-color: #afddff;
}


/* 右侧显示 */
.ag-switch-label.right {
  padding-right: 50px;
  padding-left: 0;
}
.ag-switch-label.right:before {
  right: 3px;
  left: auto;
}
.ag-switch-label.right:after {
  right: 0;
  left: auto;
}
/* 选中 */
input.ag-switch[type=checkbox]:checked + label.ag-switch-label.right::before {
  right: 22px;
  left: auto;
}

/*
 * 横版黑色
 */

.ag-graph-bar-black .wrapper {
  background: #1d1d1d;
  box-shadow: none;
}

.ag-graph-bar-black .wrapper li:not(:last-child) > div {
  border-right: 1px solid #383838;
}

.ag-graph-bar-black .wrapper li > div input {
  color: #c8c8c8;
  border: 1px solid #c8c8c8;
  background: none;
}

.ag-graph-bar-black .wrapper li > div a {
  color: #c8c8c8;
}

.ag-graph-bar-black .wrapper li > div a:hover {
  color: #fff;
}

.ag-graph-bar-black .wrapper li > div a.disabled {
  color: #686868 !important;
}

.ag-graph-bar-black span.item .dropmenu {
  background: #1d1d1d;
  box-shadow: none;
}

.ag-graph-bar-black span.item .dropmenu .inner h6{
  color: #c8c8c8;
  background: #3d3d3d;
}

.ag-graph-bar-black span.item .dropmenu a {
  border: 1px solid #383838;
}

.ag-graph-bar-black .wrapper li > div a.disabled:after,
.ag-graph-bar.ag-graph-bar-black .wrapper li > div a.disabled:hover:after {
  border-bottom: 4px solid #686868;
}

/*
 * 竖版白色
 */
.ag-graph-bar-vertical .wrapper {
  width: 48px;
  height: 502px;
}

.ag-graph-bar-vertical .wrapper li {
  float: none;
  height: initial;
  text-align: center;
  padding: 8px 0;
}

.ag-graph-bar-vertical .wrapper li:first-child {
  padding: 12px 0 4px;
}

.ag-graph-bar-vertical .wrapper li:not(:last-child) {
  border-bottom: 1px solid #ededed;
}

/* switch */
.ag-graph-bar-vertical .switch {
  width: 48px;
}

.ag-graph-bar-vertical .switch .ag-switch-label {
  left: -18px;
}

.ag-graph-bar-vertical .wrapper li > div {
  height: initial;
  padding: 0;
}

.ag-graph-bar-vertical .wrapper li:first-child div {
  padding-right: 0;
}

.ag-graph-bar-vertical .wrapper li:not(:last-child) > div {
  border-right: none;
}

.ag-graph-bar-vertical .wrapper li > div span.item {
  display: inline-block;
  width: 100%;
  float: none;
  padding: 0 !important;
}

.ag-graph-bar-vertical .wrapper li > div span.item:not(:last-child) {
  padding-bottom: 5px !important;
}

.ag-graph-bar-vertical .wrapper li > div input {
  display: inline-block;
  margin: 0;
}

.ag-graph-bar-vertical .unfold-shrink {
  width: 100%;
  height: 8px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 0;
}

.ag-graph-bar-vertical:hover .unfold-shrink {
  width: 100%;
  height: 16px;
}

.ag-graph-bar-vertical .unfold-shrink i {
  line-height: normal;
  -webkit-transform: rotate(90deg) translate(-2px, 0);
  transform: rotate(90deg) translate(-2px, 0);
}

.ag-graph-bar-vertical span.item .dropmenu {
  top: 0;
  left: initial;
  right: 48px;
}


.ag-graph-bar-vertical.pack-up .wrapper {
  height: 38px;
}

.ag-graph-bar-vertical.pack-up .unfold-shrink {
  height: 16px;
}

.ag-graph-bar-vertical.pack-up .unfold-shrink i {
  -webkit-transform: rotate(-90deg) translate(2px, 0);
  transform: rotate(-90deg) translate(2px, 0);
}

/*
 * 竖版黑色
 */
.ag-graph-bar.ag-graph-bar-black.ag-graph-bar-vertical .wrapper li:not(:last-child) {
  border-bottom: 1px solid #383838;
}

.ag-graph-bar.ag-graph-bar-black.ag-graph-bar-vertical span.item .dropmenu {
  border-top: none;
  border-right: 1px solid #000;
}

.ag-graph-bar.ag-graph-bar-black.ag-graph-bar-vertical span.item .dropmenu h4{
  margin-right: -1px;
}


